:root {
    --white: hsl(0, 0%, 100%);
    --white-violet: hsl(270, 3%, 87%);
    --gray-violet: hsl(279, 6%, 55%);
    --red: hsl(0, 100%, 66%);
    --violet: #4f3c74;
    --black-violet: hsl(278, 68%, 11%);
    --gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

::placeholder {
    color: var(--white-violet);
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}